* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body, html{
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    height: 100%;

}

.about-img{
    max-width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    text-align: center;
}

.bg {
    background-image: "../../images/piggybank.jpeg";
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
label {
    color: #34495e;
    text-align: center;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: #1f8dd6;
    color: white;
    border-radius: 5px;
    font-size: 120%;
    text-decoration: none;
}


.splash {
    /* absolute center .splash within .splash-container */
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 40px;
    font-weight: bold;
    color: rgb(88, 183, 255);
    border: 4px solid rgb(88, 183, 255);
    padding: 1em 1.6em;
    font-weight: 300;
    border-radius: 5px;
    line-height: 1em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: rgb(88, 183, 255);
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.body {
    text-transform: none;
    text-align: center;
    size: 12pt;
}


