#box {
    width: 330px;
    height: auto;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 50%;
    border-color: green;
    border-radius: 15px;
    background-color: #f8f9fa;
}

#button {
    background-color: green;
    margin-left: 30px;
    margin-right: 5px;
}

#text {
    margin-left: 15px;
}