.parent {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
}

.child {
    width: 300px;
    height: 300px;
    margin-right: 50px;
    flex: 1;
}

#mod_name {
    margin-top: 20px;
    font-size: 22px;
    color: white;
    font-weight: 300;
}

#box_description {
    padding: 5px;
}

#mod_box {
    width: 250px;
    height: 155px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(88, 183, 255);
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20px;
    font-size: 12pt;
    font-weight: 300;
}

h2 {
    text-align: center;
    padding: 20px;
}